
body {
  margin: 0;
  padding: 0;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
    height:100vh;
    font-size:15px;
    
}
